/* for font style use: 
font-family: 'Montserrat', sans-serif;
thin, regular or medium, all in italic as well */

/* for another font style use:
font-family: 'Inconsolata', monospace;
estraLight 200, light 300, medium 500 or bold 700*/

:root {
  --branding-color: rgba(0, 128, 128, 0.673);
  --soft-background-color: rgba(0, 105, 105, 0.271);
  --dark-color-version: rgb(9, 84, 84);
  --light-color: rgba(0, 128, 128, 0.025);
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Inconsolata', monospace;
}

nav {
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav ul {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  font-weight: 300;
}

nav li {
  margin-left: 15px;
  display: inline;
  list-style: none;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.introduce {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--soft-background-color);
}

.content-container h1,
.introduce h1,
.about-page h1,
.contact h1 {
  font-family: var(--primary-font-family);
  font-weight: 400;
  line-height: 2;
  font-size: 50px;
  text-align: center;
}

.introduce h2,
.about-page h2 {
  line-height: 1;
  font-size: 30px;
  font-weight: 200;
  font-family: var(--primary-font-family);
}
p {
  font-size: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 300;
  line-height: 2;
}

.introduce .btn-btn-branding:hover,
.container .btn-type:hover {
  background-color: teal;
  color: white;
  border: solid 1px var(--soft-background-color);
}

.continues-page a {
  color: black;
}
.continues-page a:hover {
  color: var(--branding-color);
}
.container {
  padding: 80px 20px;
  text-align: center;
  background-color: var(--light-color);
}

img {
  width: 400px;
  display: flex;
  border-radius: 15px;
}

.nature {
  width: 700px;
}

.description {
  padding: 150px 0px;
}

.container .btn-type,
.introduce .btn-btn-branding {
  border: solid 1px var(--dark-color-version);
  padding: 15px 30px;
  line-height: 27px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 30px;
  background-color: var(--branding-color);
  font-family: var(--secondary-font-family);
}

.about-page {
  text-align: center;
  padding: 50px 20px;
  width: auto;
  background-color: var(--light-color);
}

.about-page h3 {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 50px;
}
.about-me-article {
  font-size: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 300;
  text-align: center;
}

.container-about {
  padding: 80px 20px;
  text-align: center;
  margin: 0px 40px;
  background-color: var(--light-color);
}

.container-about .my-picture {
  border-radius: 8px;
}

.container-about .btn-branding {
  border: solid 1px var(--dark-color-version);
  padding: 15px 30px;
  line-height: 27px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  background-color: var(--branding-color);
  font-family: var(--secondary-font-family);
  margin: 40px;
}

.container-about .btn-branding:hover {
  background-color: teal;
  color: white;
  border: solid 1px var(--soft-background-color);
}

.content-container img {
  width: 340px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.content-container {
  background-color: var(--light-color);
  padding: 40px 30px 0px 30px;
}

.content-container .wide {
  width: 455px;
  padding-left: 10px;
}

@media (max-width: 1200px) {
  img {
    display: flex;
    margin: 20px auto;
    justify-content: center;
  }
}

.contact h4 {
  font-family: var(--secondary-font-family);
  font-size: 25px;
  margin-left: 250px;
}
.contact p a {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  margin-left: 250px;
  color: var(--branding-color);
  font-weight: 300;
}
