* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* navbar styling*/
.navbar {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
}
.brand-name {
  font-family: 'Space Mono', monospace;
  font-style: italic;
  color: rgba(14, 69, 47, 0.698);
  font-weight: 200;
  font-size: 70px;
}
.navbar-links ul {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 20px;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  padding: 0px 20px;
  display: block;
  color: rgba(7, 7, 7, 0.588);
}
.navbar-links li a:hover {
  color: rgba(14, 69, 47, 0.698);
}
/*toggle button styling*/
.toggle-button {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
/*styling of the constent of about page*/

.main-heading {
  font-family: 'Space Mono', monospace;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.602);
}
.hero-about-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 30px 60px 30px;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

/*styling of pictures on about page*/
.me-park {
  margin: 310px -20px 0px -100px;
  max-width: 300px;
  border-radius: 5px;
  max-height: 340px;
}
.me-camera {
  margin: 20px 50px 0px -60px;
  max-width: 260px;
  border-radius: 5px;
  max-height: 350px;
}

.me-france {
  max-width: 300px;
  border-radius: 5px;
  max-height: 340px;
}
.about-picture {
  display: flex;
  margin-top: 30px;
}

/*styling of text on about page*/

.about-text {
  font-family: 'Space Mono', monospace;
  font-weight: 100;
  text-align: justify;
  line-height: 2;
  font-size: 16px;
}
/*footer styling*/
footer {
  margin-top: 30px;
  background-color: rgba(14, 69, 47, 0.698);
  font-family: 'Space Mono', monospace;
  font-weight: 300;
}

.main-footer_heading {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
  padding: 30px 0 30px 0px;
  color: white;
}
.secondary-footer_heading {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-introduce {
  width: 40%;
  display: block;
}
.primary-text-footer {
  line-height: 2;
  font-size: 16px;
  text-align: justify;
}
/*social links in footer*/
.be-social {
  display: block;
  font-size: 25px;
}
.social-links {
  display: flex;
  align-items: center;
  padding: 0;
}

.social-links a {
  padding: 0px 20px 0px 0px;
}

/*styling of secondary-footer*/

.secondary-footer-section {
  background-color: white;
  color: rgba(14, 69, 47, 0.698);
  display: block;
  text-align: center;
  padding: 30px;
}
.brand {
  max-width: 1100px;
  padding: 15px 0px 20px 0;
  margin: 0 auto;
}
.brand a {
  color: rgba(14, 69, 47, 0.698);
}

/*responsive styling of about me page under 1000px max width*/

@media (max-width: 1100px) {
  /*styling of header on about page*/
  .navbar {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 10px;
  }
  .navbar-links.active {
    display: flex;
  }
  .toggle-button {
    margin: 20px 0px;
    display: flex;
    position: absolute;
  }
  .brand-name {
    font-size: 30px;
    display: block;
    margin: 20px 0px;
    padding-left: 10px;
  }

  /*content styling*/
  .hero-about-content {
    padding-top: 0px;
  }
  .about-content {
    display: block;
  }
  .me-camera {
    margin: 0 auto;
  }
  .me-france {
    margin: 0 auto;
  }
  .me-park {
    margin: 0 auto;
  }
  /*styling of responsive footer*/

  footer {
    margin-top: 10px;
  }

  .footer-section {
    display: block;
    text-align: center;
    max-width: 800px;
    padding: 10px 30px 10px 30px;
  }
  .footer-introduce {
    width: fit-content;
  }
  .secondary-footer_heading {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .primary-text-footer {
    line-height: 2;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
  }

  .be-social {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    max-width: 200px;
    padding-bottom: 10px;
  }

  .social-links a {
    padding: 0px 10px 0px 10px;
  }

  /*styling of secondary-footer*/

  .secondary-footer-section {
    padding: 20px;
  }
  .brand {
    padding: 0px;
    margin: 5px auto;
  }
}

@media (max-width: 830px) {
  .me-park {
    display: none;
  }
}

@media (max-width: 580px) {
  .me-france {
    display: none;
  }
  .me-camera {
    max-width: 500px;
  }
}
