* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* navbar styling*/
.navbar {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
}
.brand-name {
  font-family: 'Space Mono', monospace;
  font-style: italic;
  color: rgba(14, 69, 47, 0.698);
  font-weight: 200;
  font-size: 70px;
}
.navbar-links ul {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 20px;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  padding: 0px 20px;
  display: block;
  color: rgba(7, 7, 7, 0.588);
}
.navbar-links li a:hover {
  color: rgba(14, 69, 47, 0.698);
}
/*toggle button styling*/
.toggle-button {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
/* styling of the headings*/

.main-heading {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-family: 'Space Mono', monospace;
  font-weight: 100;
  font-size: 30px;
  color: white;
}
.secondary-heading {
  text-align: center;
  margin: 20px auto;
  display: block;
  font-family: 'Space Mono', monospace;
  font-weight: 100;
  font-size: 20px;
  color: white;
  max-width: 800px;
}
/*styling of the contact hero/ form */
.hero_contact {
  background: linear-gradient(
    to right,
    rgba(14, 69, 47, 0.483),
    rgba(44, 99, 65, 0.837)
  );
  padding: 30px 50px 30px 50px;
}

.hero_contact-form-wrapper {
  display: grid;
  place-items: center;
  margin: 100px auto;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.837);
  box-shadow: rgba(100, 100, 111, 0.4) 3px 10px 30px 2px;
}
.contact-form-input:focus {
  color: black;
}
.contact-form-input::placeholder {
  color: rgba(102, 132, 120, 0.638);
  font-family: 'Space Mono', monospace;
}
.contact-form-input {
  width: 750px;
  height: 50px;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.671);
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 150;
  color: rgba(102, 132, 120);
  letter-spacing: 1px;
  outline: none;
}
.contact-form-textarea {
  height: 200px;
  resize: none;
}
.form-submit-btn {
  box-shadow: rgba(100, 100, 111, 0.4) 2px 5px 25px 0;
  color: white;
  display: block;
  font-size: 20px;
  padding: 10px 30px;
  background-color: rgba(102, 132, 120, 0.951);
  border: solid 1px rgba(102, 132, 120, 0.286);
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
}

.form-submit-btn:hover {
  background-color: rgba(31, 114, 81, 0.597);
  border: solid 1px rgba(102, 132, 120, 0.192);
  cursor: pointer;
  color: black;
}
h4 {
  margin: 0px 0px 2px 5px;
  color: rgba(51, 51, 51, 0.836);
  font-family: 'Space Mono', monospace;
  font-weight: lighter;
  font-size: 16px;
}

/*footer styling*/
footer {
  margin-top: 10px;
  background-color: rgba(231, 239, 236, 0.456);
  font-family: 'Space Mono', monospace;
  font-weight: 300;
}

.main-footer_heading {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
  padding: 30px 0 30px 0px;
  color: rgba(14, 69, 47, 0.916);
}
.secondary-footer_heading {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-introduce {
  width: 40%;
  display: block;
}
.primary-text-footer {
  line-height: 2;
  font-size: 16px;
  text-align: justify;
}

.be-social {
  display: block;
  font-size: 25px;
}
.social-links {
  display: flex;
  align-items: center;
  padding: 0;
}

.social-links a {
  padding: 0px 20px 0px 0px;
}

/*styling of secondary-footer*/

.secondary-footer-section {
  background-color: white;
  color: rgba(14, 69, 47, 0.698);
  display: block;
  text-align: center;
  padding: 30px;
}
.brand {
  max-width: 1100px;
  padding: 15px 0px 20px 0;
  margin: 0 auto;
}
.brand a {
  color: rgba(14, 69, 47, 0.698);
}
/*styling of responsive navbar,heading and footer on contact page under 1100 px width*/

@media (max-width: 1100px) {
  .navbar {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 10px;
  }
  .navbar-links.active {
    display: flex;
  }
  .toggle-button {
    margin: 20px 0px;
    display: flex;
    position: absolute;
  }
  .brand-name {
    font-size: 30px;
    display: block;
    margin: 20px 0px;
    padding-left: 10px;
  }
  /*footer styling*/

  footer {
    margin-top: 10px;
  }

  .footer-section {
    display: block;
    text-align: center;
    max-width: 800px;
    padding: 10px 30px 10px 30px;
  }
  .footer-introduce {
    width: fit-content;
  }
  .secondary-footer_heading {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .primary-text-footer {
    line-height: 2;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
  }

  .be-social {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    max-width: 200px;
    padding-bottom: 10px;
  }

  .social-links a {
    padding: 0px 10px 0px 10px;
  }

  /*styling of secondary-footer*/

  .secondary-footer-section {
    padding: 20px;
  }
  .brand {
    padding: 0px;
    margin: 5px auto;
  }
}

@media (max-width: 900px) {
  /*responsive styling of headings on contact page*/

  .main-heading {
    font-size: 30px;
  }
  .secondary-heading {
    font-size: 15px;
  }

  /*responsive styling of the contact form*/
  .hero_contact-form-wrapper {
    margin: 30px auto;
    max-width: 900px;
  }
  .contact-form {
    padding: 20px;
  }

  .contact-form-input {
    width: 650px;
    height: 30px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 15px;
  }

  .contact-form-textarea {
    height: 160px;
    resize: none;
  }

  .form-submit-btn {
    font-size: 13px;
    padding: 5px 15px;
  }

  h4 {
    margin: 0px 0px 1px 2px;
    font-size: 13px;
  }
}

@media (max-width: 760px) {
  /*responsive styling of contact form */
  .hero_contact-form-wrapper {
    margin: 30px auto;
    max-width: 700px;
  }
  .contact-form {
    max-width: 600px;
  }
  .contact-form-input {
    width: 450px;
    height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 15px;
  }
  .contact-form-textarea {
    height: 100px;
    resize: none;
  }
}

@media (max-width: 570px) {
  .hero_contact {
    padding: 5px;
  }
  .hero_contact-form-wrapper {
    margin: 20px auto;
    max-width: 400px;
  }
  .contact-form {
    max-width: 400px;
  }
  .contact-form-input {
    width: 300px;
    height: 15px;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .contact-form-textarea {
    height: 100px;
    resize: none;
  }
}
