* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* navbar styling*/
.navbar {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
}
.brand-name {
  font-family: 'Space Mono', monospace;
  font-style: italic;
  color: rgba(14, 69, 47, 0.698);
  font-weight: 200;
  font-size: 70px;
}
.navbar-links ul {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 20px;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  padding: 0px 20px;
  display: block;
  color: rgba(7, 7, 7, 0.588);
}
.navbar-links li a:hover {
  color: rgba(14, 69, 47, 0.698);
}
/*toggle button styling*/
.toggle-button {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.gallery-sheet {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
  text-align: center;
}

/*gallery styling on main home page*/
.gallery-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 5px;
}

.gallery-row-wide {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.row-picture img {
  max-width: 330px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.row-picture-wide img {
  max-width: 443px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

/*footer styling*/
footer {
  margin-top: 30px;
  background-color: rgba(14, 69, 47, 0.698);
  font-family: 'Space Mono', monospace;
  font-weight: 300;
}

.main-footer_heading {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
  padding: 30px 0 30px 0px;
  color: white;
}
.secondary-footer_heading {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-introduce {
  width: 40%;
  display: block;
}
.primary-text-footer {
  line-height: 2;
  font-size: 16px;
  text-align: justify;
}

.be-social {
  display: block;
  font-size: 25px;
}
.social-links {
  display: flex;
  align-items: center;
  padding: 0;
}

.social-links a {
  padding: 0px 20px 0px 0px;
}

/*styling of secondary-footer*/

.secondary-footer-section {
  background-color: white;
  color: rgba(14, 69, 47, 0.698);
  display: block;
  text-align: center;
  padding: 30px;
}
.brand {
  max-width: 1100px;
  padding: 15px 0px 20px 0;
  margin: 0 auto;
}
.brand a {
  color: rgba(14, 69, 47, 0.698);
}

/*responsive styling for home page for max 900px width*/
/*styling of navbar and header*/

@media (max-width: 900px) {
  .navbar {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 10px;
  }
  .navbar-links.active {
    display: flex;
  }
  .toggle-button {
    margin: 20px 0px;
    display: flex;
    position: absolute;
  }
  .brand-name {
    font-size: 30px;
    display: block;
    margin: 20px 0px;
    padding-left: 10px;
  }
}
